<th:block th:fragment="footer">
<footer class="footer" style="width: 150%;  	" >
	<div
		class="d-sm-flex justify-content-center justify-content-sm-between">
		<span
			class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Rikkei
			<i class="mdi mdi-heart text-danger"></i>
		</span>
	</div>
</footer>
<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->

<script th:src="@{/vendors/js/vendor.bundle.base.js}">

</script> 

<script  th:src="@{/vendors/js/vendor.bundle.addons.js}">
	
</script>
<!-- endinject -->

<!-- inject:js -->
<script  th:src="@{/js/off-canvas.js}">
	
</script>
<script  th:src="@{ /js/misc.js}">
	
</script>
<!-- endinject -->
<!-- Custom js for this page-->
<script  th:src="@{ /js/dashboard.js}">
	
</script>
<!-- End custom js for this page-->
</body>

</th:block>
